{% extends "base.html" %}
{% block title%}Detail{% endblock %}


{% block contents%}


  <!--選択された記事の表示場所-->
  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        {{object.category}}
      </h3>

      <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">{{object.title}}</h2>
        <p class="blog-post-meta">{{object.post_at}} by {{object.user.username}}</p>

        <p>{{object.subtitle}}</p>
        <hr>
        <p><img src="{{object.image1.url}}"></img></p>
        <!--テキストの内容を改行して表示-->
        <h5>{{object.comment | linebreaksbr}}</h5>
        <hr>
        
      </article>

      <!--コメント欄の表示-->
      <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">コメント欄</h2>
      </article>

      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
        <a class="btn btn-outline-secondary rounded-pill disabled">Newer</a>
      </nav>

    </div>
{% endblock%}

{% block side %}
<!--サイドバー-->
<div class="col-md-4">
  <div class="position-sticky" style="top: 2rem;">
    <div class="p-4 mb-3 bg-body-tertiary rounded">
      <h4 class="fst-italic">About</h4>
      <p class="mb-0">viewボタンなどの記事のリンクが選択された場合に表示させるページ。</p>
    </div>

<!--最近の記事-->
      
    <div class="p-4">
      <h4 class="fst-italic">その他</h4>
      <ol class="list-unstyled">
        <li><a href="https://www.instagram.com/?hl=ja">Instagram</a></li>
        <li><a href="https://twitter.com/?lang=ja">X（旧Twitter）</a></li>
        <li><a href="https://ja-jp.facebook.com/">Facebook</a></li>
      </ol>
    </div>
  </div>
</div>
</div>
{% endblock %}
