{% extends "base.html" %}
{% block title%}マイページ{% endblock %}

{% block header %}
<main class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">Myページ</h1>
      <p class="lead my-3">ここは{{user.username}}さんのページです。今まで投稿した記事を見たり、追記してみんなの役に立ちましょう！</p>
      {% if user.is_authenticated %}
      <a href="{% url 'touroku:kouryaku_touroku' %}" class="btn btn-primary my-2">投稿する！</a>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block contents %}
  <!--自分の記事の表示場所-->
  <div class="row g-5">
    <div class="col-md-8">
      {% if object_list.count == 0 %}
        <h1>{{user.username}}さんの投稿はありません！あなたの知識をもっとみんなに教えてあげましょう！</h1>
      {% else %}
        <h1>{{user.username}}さんは</h1>
        <h1>現在{{object_list.count}}件の記事を作成しています！</h1>
      {% endif %}
      <hr>
      {% for record in object_list reversed %}

      <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">{{record.title}}</h2>
        <p class="blog-post-meta">{{record.post_at}} by <a href="{% url 'eturan:user_list' user=record.user.id %}">{{record.user.username}}</a></p>

        <p>{{record.subtitle}}</p>
        <p><img src="{{record.image1.url}}"></img></p>
        <button type="button"
                        class="btn btn-sm btn-outline-secondary"
                        onclick="location.href='{% url 'eturan:detail' record.pk %}'">
                        View</button>
        <button type="button"
                        class="btn btn-sm btn-outline-secondary"
                        onclick="location.href='{% url 'eturan:jyouhou_cat' category=record.category.id %}'">
                        {{record.category.title}}</button>
        <hr>
      </article>
      {% endfor %}
      {% include "pagination.html" %}

      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
        <a class="btn btn-outline-secondary rounded-pill disabled">Newer</a>
      </nav>

    </div>
{% endblock%}

{% block side %}
<!--サイドバー-->
<div class="col-md-4">
  <div class="position-sticky" style="top: 2rem;">
    <div class="p-4 mb-3 bg-body-tertiary rounded">
      <h4 class="fst-italic">About</h4>
      <p class="mb-0">ログイン中のユーザーが投稿した記事を一覧で見ることのできるページ。</p>
    </div>


      
    <div class="p-4">
      <h4 class="fst-italic">その他</h4>
      <ol class="list-unstyled">
        <li><a href="#">GitHub</a></li>
        <li><a href="#">X（旧Twitter）</a></li>
        <li><a href="#">Facebook</a></li>
      </ol>
    </div>
  </div>
</div>
</div>
{% endblock %}
